#calendario {
	color: #000000;;
	font-size: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-right: 2px solid #999999;
	border-bottom: 2px solid #999999;
}

/*#mesCalendario para configurar aspectos de la caja que muestra el mes y el año*/
#mesCalendario {
	font-weight: bold;
	text-align: center;
	color: #000000;
	background-color: rgb(101,167,57);
}
#calendario th, #calendario td {
	border: 1px solid #999999;
	padding: 3px;
	font-size: 110%;
}
#calendario th {
	color: #000000;
}

/*.Hoy para configurar aspectos de la caja que muestra el día actual*/
.Hoy {
	color: #000000;
	background-color: #666666;
	font-weight: normal;
}
#miCalendario {
	text-align: center;
}