.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.etiquetaE {
	float: left;
	width: 100%;
	color: #000000;
	display: block;
	padding: 0px;
	font-size: 15px;
	text-align: left;
	margin: 0 15 0 15;
}
.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 570px;
	position: relative;
	margin: 10% auto;
	border-radius: 10px;
	background: #D3BB8D;
}

#openModal h6
{
	margin: 10 0 10 0;
}
.modalDialogHeader {
	
	background: rgba(101,167,57,1);
	border-radius: 12 12 0 0;
	
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #00d9ff;
}
