/* THE NAVIGATION MENU STARTS HERE */
.flyoutmenuDer {	
	
	float: left	;							/* This is the positioning block for the menu */
  position:absolute;
  width:160px;
  text-align:left;
}

.flyoutmenuDer ul {
  position:absolute;					/* to the flyoutmenuDer block */
  margin:0;										/* needed to position the sub menus */
  padding:0;									/* needed to keep the menu tight to the left edge of the block */
  list-style-type:none;				/* no bullets or numbers */
  background-color:#e6e6e6;
  z-index:5;									/* ensures it will overlap other stuff on the page */
 background: #222222;
	/* Old browsers */

	background: -moz-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: -webkit-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: -o-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: -ms-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
	background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
}

.flyoutmenuDer li {
  font-size:12pt;
  font-weight:bold;
  width:200px;
  padding:8px;
  text-align:left;
  border:#737373 1px solid;		/* a little outline might be nice */
  border-top:0;								/* but only the li at the top (lupper) has a top border */
}

.flyoutmenuDer li.lupper {border-top:#5f5f5f 1px solid;}

.flyoutmenuDer li.mheader {			/* for a header on the menu, if we want one */
  font-weight:bold;
  font-size:12pt;
  color:black;
  border-top:#737373 1px solid;
  background: #64a743;
	/* Old browsers */

	background: -moz-linear-gradient(bottom, #43702d 0%, #64a743 50%, #7ebf5e 51%, #7bbd5b 78%, #d6eacc 100%);
	background: -webkit-linear-gradient(bottom, #43702d 0%, #64a743 50%, #7ebf5e 51%, #7bbd5b 78%, #d6eacc 100%);
	background: -o-linear-gradient(bottom, #43702d 0%, #64a743 50%, #7ebf5e 51%, #7bbd5b 78%, #d6eacc 100%);
	background: -ms-linear-gradient(bottom, #43702d 0%, #64a743 50%, #7ebf5e 51%, #7bbd5b 78%, #d6eacc 100%);
	background: linear-gradient(to top, #43702d 0%, #64a743 50%, #7ebf5e 51%, #7bbd5b 78%, #d6eacc 100%);
}

.flyoutmenuDer li a {
  display:block;							/* the link works for the whole width of li, not just the text */
  text-decoration:none;				/* no underline wanted */
  color:#000000;
}

.flyoutmenuDer a:hover {color:#868686;}	    /* fade text when hovering */
.flyoutmenuDer li:hover {position:relative;} /* fixes the flyouts relative to the parent */

/* give the sub levels an absolute positon from top left of the <li> above,
   and hide them until they  are hovered over */
.flyoutmenuDer li ul {
  position:absolute;					/* fixes the flyouts relative to the parent */
  top:5px;										/* offsets the top edge of a sub-menu relative to the parent <li> */
  left:215px;									/* offsets the left edge of a sub-menu relative to the parent <li> */
  visibility:hidden;					/* by default the sub-menu list is HIDDEN if level > 1 */
 
}

/* Turn visibility of slide out menu ON when is is hovered - it is set HIDDEN by default above*/
.flyoutmenuDer li:hover > ul {visibility:visible;}

</style>

