body {
	font-family: korinna bt;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	background: #FFFFFF;
}

article, aside, details, figcaption, figure, footer, header, nav, hgroup, section {
	display: block;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 *
 * ----------------------------------------- LOGIN - ADMINISTRADOR  -------------------------------------------
 *
 * ------------------------------------------------------------------------------------------------------------
 */

#login {
	width: 100%;
	display: inline-block;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	
}

#login article {
	width: 60%;
	margin: 70px auto 70px auto;
	background-color: rgb(101,167,57);
	padding: 10px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
    -webkit-box-shadow: 0px 0px 10px #ccc ;
    -moz-box-shadow: 0px 0px 5px #fff;
}



#login article header h6 {
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	font-size: 22px;
}

#estudiante {
	width: 100%;
	display: inline-block;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	
}

#estudiante article {
	
	width: 80%;
	margin: 20px auto 20px auto;
	background-color: rgb(101,167,57);
	padding: 10px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
    -webkit-box-shadow: 0px 0px 10px #ccc ;
    -moz-box-shadow: 0px 0px 5px #fff;
}
#estudiante article header h6 {
	
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	font-size: 22px;
	
}
#proyecto {
	width: 100%;
	display: inline-block;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	
}
#proyecto article {
	
	width: 80%;
	margin: 20px auto 20px auto;
	background-color: rgb(101,167,57);
	padding: 10px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
    -webkit-box-shadow: 0px 0px 10px #ccc ;
    -moz-box-shadow: 0px 0px 5px #fff;
}
#proyecto article header h6 {
	
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	font-size: 22px;
	
}

.wrapper
{
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 5px #fff;
    -webkit-box-shadow: 0px 0px 10px #ccc ;
    -moz-box-shadow: 0px 0px 5px #fff;
    background: #f0e0c0;
}

.textArea{
	
}
.etiqueta {
	float: left;
	width: 22%;
	margin: 5px;
	color: #FFFFFF;
	display: block;
	padding: 5px 5px 5px 5px;
	font-size: 20;
}

.componente {
	float: left;
	width: 60%;
	margin: 5px;
	display: block;
}

.select
{
	font-size: 15;
	display: block;
	width: 50%;
	height: 30px;
	padding: 5px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	margin: 5px;
	background: #FFFFFF;
	color: #333;
}

.textfield {
	font-size: 15;
	display: block;
	width: 50%;
	height: 30px;
	padding: 5px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	margin: 5px;
	background: #FFFFFF;
	color: #333;
}

.textField:focus {
	box-shadow: 0px 1px 5px #9c0 inset;
	-webkit-box-shadow: 0px 1px 5px #9c0 inset;
	-moz-box-shadow: 4px 4px 5px #9c0 inset;
	outline: 0 none;
}

.password {
	font-size: 15;
	display: block;
	width: 50%;
	height: 30px;
	padding: 5px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	margin: 5px;
	background: #FFFFFF;
	color: #333;
}

.password:focus {
	box-shadow: 0px 1px 5px #9c0 inset;
	-webkit-box-shadow: 0px 1px 5px #9c0 inset;
	-moz-box-shadow: 4px 4px 5px #9c0 inset;
	outline: 0 none;
}

.textArea {
	display: block;
	border: 1px solid #ffffff;
	border-radius: 5px;
	width: 100%;
	padding: 5px;
	color: #333;
}

.textArea:focus {
	box-shadow: 0px 1px 5px #0CF inset;
	-webkit-box-shadow: 0px 1px 5px #0CF inset;
	-moz-box-shadow: 4px 4px 5px #0CF inset;
	outline: 0 none;
}

.button{
	
	
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background-color:#65a739;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #4b8f29;
	color:#ffffff;
	font-size:15;
	font-weight:bold;
	font-family: korinna bt;
	padding:8px 16px;
	text-shadow:0px 1px 0px #5b8a3c;
	
}
.button:hover {
	background-color:#d3ba8d;
}
.button:active {
	position:relative;
	top:1px;
}

.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes flip { 
    0% { 
        -webkit-transform: perspective(400px) rotateY(0); 
        -webkit-animation-timing-function: ease-out; 
    } 
    40% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg); 
        -webkit-animation-timing-function: ease-out; 
    } 
    50% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
    80% { 
        -webkit-transform: perspective(400px) rotateY(360deg) scale(.95); 
        -webkit-animation-timing-function: ease-in; 
    } 
    100% { 
        -webkit-transform: perspective(400px) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
} 
@keyframes flip { 
    0% { 
        transform: perspective(400px) rotateY(0); 
        animation-timing-function: ease-out; 
    } 
    40% { 
        transform: perspective(400px) translateZ(150px) rotateY(170deg); 
        animation-timing-function: ease-out; 
    } 
    50% { 
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
        animation-timing-function: ease-in; 
    } 
    80% { 
        transform: perspective(400px) rotateY(360deg) scale(.95); 
        animation-timing-function: ease-in; 
    } 
    100% { 
        transform: perspective(400px) scale(1); 
        animation-timing-function: ease-in; 
    } 
} 
.flip { 
    -webkit-backface-visibility: visible !important; 
    -webkit-animation-name: flip; 
    backface-visibility: visible !important; 
    animation-name: flip; 
}

#tabla article table thead th
{
	color: #222;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
}

#tabla article table td a{
	text-decoration: none;
	color: #9c0;
}

#tabla article table tr td
{
	text-align: justify;
	background:#222;
	color: #CCC;
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 1.5;
	
}
.nav{
	float: left
}
.nav .ul {
         list-style-type:none;
         margin: 0px;
         padding: 0px;        
}
.nav .ul .li {
    margin: 5px; padding: 10px; text-transform:capitalize; font-size: 20px;
}
.nav .ul .li .a {
    color:#e34c26;
    text-decoration: none;
}

.nav, .ul, .li {
    margin: 5px; padding: 10px; text-transform:capitalize; font-size: 20px;
    border-radius: 152px 304px 228px 152px;
    border-style: solid;
    border-width: 3px;
    border-color:#ffffff
}
