body {
	font-family: korinna bt;
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
	background: #FFFFFF;
}

article, aside, details, figcaption, figure, footer, header, nav, hgroup, section {
	display: block;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 *
 * ----------------------------------------- LOGIN - ADMINISTRADOR  -------------------------------------------
 *
 * ------------------------------------------------------------------------------------------------------------
 */

#login {
	width: 100%;
	display: inline-block;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#login article {
	width: 60%;
	margin: 70px auto 70px auto;
	background-color: rgba(101,167,57,0.4);
	padding: 10px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
}

#login article header h6 {
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	font-size: 20px;
}

#estudiante {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#estudiante article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgba(101,167,57,0.4);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	height: auto;
}
#estudiante article header h6 {
	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}

#tutor {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#tutor article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgba(101,167,57,0.4);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
}
#tutor article header h6 {
	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}

#materia {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#materia article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgba(101,167,57,0.4);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
}
#materia article header h6 {
	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}
#proyecto {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}
#proyecto article {

	width: 80%;
	margin: 80px 0 20px 0px;
	padding: 0px;
	background-color: rgba(101,167,57,0.4);
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
}
#proyecto article header h6 {

	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}

#grupo {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}
#grupo article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgba(101,167,57,0.4);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	height: auto;
}
#grupo article header h6 {

	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}


#evento {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#linea
 {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}
#linea article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgba(101,167,57,0.4);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
}
#linea article header h6 {

	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}

#evento article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgba(101,167,57,0.4);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;<<<<<<< HEAD
}
#linea article header h6 {=======
	height: auto;
}

#evento article header h6 {>>>>>>> 9766b66f564800385af53693d59073a044b0062c
	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}

#premio {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#premio article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgba(101,167,57,0.4);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	height: auto;
}
#premio article header h6 {
	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}

#consolidacion  {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#consolidacion  article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgba(101,167,57,0.4);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	height: auto;
}
#ejecucion article header h6 {
	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}

#ejecucion  {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#ejecucion  article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgba(101,167,57,0.4);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	height: auto;
}
#consolidacion article header h6 {
	left: 80%;
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}

h6 h5 {
	margin: margin-bottom : 5px;
	-webkit-margin-bottom: 4;
}

.wrapper {
	visibility: visible;
	width: 80%;
	margin: auto;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	background: #f0e0c0;
}

.textArea {
	font-size: 15;
	display: block;
	width: 80%;
	height: 100px;
	padding: 5px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	margin: 0px;
	background: #FFFFFF;
	color: #333;
	resize: none;
}
.etiqueta {
	float: left;
	width: 100%;
	color: #000000;
	display: block;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
	text-align: left;
	margin: 20px;
	margin-bottom: 0;
}

.componente {

	float: left;
	width: 80%;
	margin: 0 0 -10 20;
	display: block;
	text-align: left;
}

.select {
	font-size: 15;
	display: block;
	width: 90%;
	height: 30px;
	padding: 0px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	background: #FFFFFF;
	color: #333;
}

.textfield {
	font-size: 15;
	display: block;
	width: 90%;
	height: 30px;
	padding: 5px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	margin: 0 0 -10 0;
	background: #FFFFFF;
	color: #333;
}

.textfield:focus {
	box-shadow: 0px 1px 5px #9c0 inset;
	-webkit-box-shadow: 0px 1px 5px #9c0 inset;
	-moz-box-shadow: 4px 4px 5px #9c0 inset;
	outline: 0 none;
}

.password {
	font-size: 15;
	display: block;
	width: 90%;
	height: 30px;
	padding: 5px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	margin: 0px;
	background: #FFFFFF;
	color: #333;
}

.password:focus {
	box-shadow: 0px 1px 5px #9c0 inset;
	-webkit-box-shadow: 0px 1px 5px #9c0 inset;
	-moz-box-shadow: 4px 4px 5px #9c0 inset;
	outline: 0 none;
}

.textArea {
	display: block;
	border: 1px solid #ffffff;
	border-radius: 5px;
	width: 100%;
	padding: 5px;
	color: #333;
}

.textArea:focus {
	box-shadow: 0px 1px 5px #0CF inset;
	-webkit-box-shadow: 0px 1px 5px #0CF inset;
	-moz-box-shadow: 4px 4px 5px #0CF inset;
	outline: 0 none;
}

.button {

	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background-color: #65a739;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid #4b8f29;
	color: #000000;
	font-size: 15;
	font-weight: bold;
	font-family: korinna bt;
	padding: 8px 16px;
	text-shadow: 0px 1px 0px #5b8a3c;
	margin: -5px;
}
.button:hover {
	background-color: #d3ba8d;
}
.button:active {
	position: relative;
	top: 1px;
}

.animated {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes flip {
0% {
-webkit-transform: perspective(400px) rotateY(0);
-webkit-animation-timing-function: ease-out;
}
40% {
-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
-webkit-animation-timing-function: ease-out;
}
50% {
-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
-webkit-animation-timing-function: ease-in;
}
80% {
-webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
-webkit-animation-timing-function: ease-in;
}
100% {
-webkit-transform: perspective(400px) scale(1);
-webkit-animation-timing-function: ease-in;
}
}
@keyframes flip {
0% {
transform: perspective(400px) rotateY(0);
animation-timing-function: ease-out;
}
40% {
transform: perspective(400px) translateZ(150px) rotateY(170deg);
animation-timing-function: ease-out;
}
50% {
transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
animation-timing-function: ease-in;
}
80% {
transform: perspective(400px) rotateY(360deg) scale(.95);
animation-timing-function: ease-in;
}
100% {
transform: perspective(400px) scale(1);
animation-timing-function: ease-in;
}
}
.flip {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flip;
	backface-visibility: visible !important;
	animation-name: flip;
}

#tabla article table thead th {
	color: #222;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
}

#tabla article table td a {
	text-decoration: none;
	color: #9c0;
}

#tabla article table tr td {
	text-align: justify;
	background: #222;
	color: #CCC;
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 1.5;
}
section#posts {
	float: left;
	width: 74%;
}

section#posts aside {
	float: right;
	width: 35%;
	margin-left: 5%;
	font-size: 20px;
	line-height: 40px;
}

#indice {

	position: absolute;
}

#contenido {
	left: 21%;
	overflow: hidden;
	position: relative;
	top: -50;
	width: 73%;
}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------------------FOOTER---------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------------------------------------
 */

#contenedorFooter
{
	
	width: 100%;
	background-color: rgba(101,167,57,0.4);
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff; 
	display: inline-block;
}

.panelFooter
{
	width: 100%;
	float: left;
}

.itemPanelFooter
{
	width: 24%;
	margin: auto;
}

.itemPanelFooter h3
{
	color: #000000;
}

.itemPanelFooter h3:hover
{
	color: #000000;
}

.itemPanelFooter p a
{
	text-decoration: none;
	color:#000000;
}

.itemPanelFooter p a:hover
{
	color: #000000;
}

.itemPanelFooter  .imgItemPanelFoter 
{
	float:left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.itemPanelFooter .enlace 
{
	text-decoration: none;
}

.itemPanelFooter  .enlace .textItemPanelFooter:hover
{
	color: #000000;
}

.itemPanelFooter  .textItemPanelFooter 
{
	color: #000000;
}

.itemPanelFooter  .imgItemPanelFoter img
{
	width: 100%;
}

#subFooter
{
	width: 100%;
	background: #333;
	margin-top:5px;
	display: inline-block;
}

.itemSubFooter
{
	width: 5%;
	float: left;
	padding: 5px 10px 5px 10px;
}

.itemSubFooter p
{
	color: #CCC;
}

.itemSubFooter #logoSubFooter
{
	float:left;
	width: 200px;
}

@media screen and (max-width:820px)
{
	#panelFooterServiciosHide
	{
		display: none;
	}
	
	#panelFooterNosotrosHide
	{
		display: none;
	}
	
	.panelFooter
	{
		float: none;
		width: 90%;
		margin:auto;
		text-align: left;
	}
	
	.itemSubFooter
	{
		width: 80%;
		float: none;
		margin:auto;
		padding: 5px 10px 5px 10px;
	}
	
	.itemSubFooter p
	{
		text-align: left;
	}
	
	.itemSubFooter #logoSubFooter
	{
		float: none;
		width: 200px;
		margin:auto,
	}
}

.datagrid table 
{ 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%;
	overflow-y:scroll; 
}
.datagrid 
{
	font: normal 12px/150%;
	background: #fff;
	overflow: hidden;
	border: 2px solid #65A739;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:0 20 0 20; 
	width: auto;
}
.datagrid table td, .datagrid table th 
{
	 padding: 2px 10px; 
}
.datagrid table thead th 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #65A739), color-stop(1, #65A739) );
	background:-moz-linear-gradient( center top, #65A739 5%, #65A739 100% );
	background-color:#65A739; 
	color:#FFFFFF; 
	font-size: 15px; 
	font-weight: bold; 
} 
.datagrid table thead th:first-child 
{
	 border: none; 
}
.datagrid table tbody td 
{ 
	color: #000000; 
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal; 
}
.datagrid table tbody .alt td 
{ 
	background: #F0E0C0; 
	color: #000000; 
}
.datagrid table tbody td:first-child 
{ 
	border-left: none; 
}
.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}