
body {
	font-family: korinna bt;
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
	background: #FFFFFF;
}

article, aside, details, figcaption, figure, footer, header, nav, hgroup, section {
	display: block;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 *
 * ----------------------------------------- LOGIN - ADMINISTRADOR  -------------------------------------------
 *
 * ------------------------------------------------------------------------------------------------------------
 */

#login {
	width: 100%;
	display: inline-block;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#login article {
	width: 60%;
	margin: 70px auto 70px auto;
	background-color: rgb(101,167,57);
	padding: 10px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
}

#login article header h6 {
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	font-size: 20px;
}

#estudiante {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	
}

#estudiante article {
	
	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgb(101,167,57);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	height: auto;
	
}
#estudiante article header h6 {
	left:80%;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
	
}

#tutor {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	
}

#tutor article {
	
	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgb(101,167,57);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	
}
#tutor article header h6 {
	left:80%;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
	
}
#proyecto {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}
#proyecto article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgb(101,167,57);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
}
#proyecto article header h6 {

	left:80%;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
	
}

#grupo {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}
#grupo article {

	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgb(101,167,57);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
}
#grupo article header h6 {

	left:80%;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
}

<<<<<<< HEAD
#evento {
	width: 100%;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	
}

#evento article {
	
	width: 80%;
	margin: 80px 0 20px 0px;
	background-color: rgb(101,167,57);
	padding: 0px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	
}
#evento article header h6 {
	left:80%;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	font-size: 22px;
	
=======
h6 h5{
	margin: margin-bottom: 5px;
	-webkit-margin-bottom: 4;
>>>>>>> 304767de6a5b9be405cceee5f8887d35e3d06735
}

.wrapper {
	visibility: visible;
	width: 80%;
	margin: auto;
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff;
	background: #f0e0c0;
}

.textArea {

}
.etiqueta {
	float: left;
	width: 100%;
	color: #FFFFFF;
	display: block;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
	text-align:left;
	margin: 20px;
	margin-bottom: 0;
}

.componente {
	
	float: left;
	width: 80%;
	margin: 0 0 0 20;
	display: block;
	text-align:left;
}

.select {
	font-size: 15;
	display: block;
	width: 80%;
	height: 30px;
	padding: 0px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	background: #FFFFFF;
	color: #333;
}

.textfield {
	font-size: 15;
	display: block;
	width: 80%;
	height: 30px;
	padding: 5px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	margin: 0px;
	background: #FFFFFF;
	color: #333;
}

.textfield:focus {
	box-shadow: 0px 1px 5px #9c0 inset;
	-webkit-box-shadow: 0px 1px 5px #9c0 inset;
	-moz-box-shadow: 4px 4px 5px #9c0 inset;
	outline: 0 none;
}

.password {
	font-size: 15;
	display: block;
	width: 50%;
	height: 30px;
	padding: 5px;
	border: 1px solid #d3bb8d;
	border-radius: 5px;
	margin: 0px;
	background: #FFFFFF;
	color: #333;
}

.password:focus {
	box-shadow: 0px 1px 5px #9c0 inset;
	-webkit-box-shadow: 0px 1px 5px #9c0 inset;
	-moz-box-shadow: 4px 4px 5px #9c0 inset;
	outline: 0 none;
}

.textArea {
	display: block;
	border: 1px solid #ffffff;
	border-radius: 5px;
	width: 100%;
	padding: 5px;
	color: #333;
}

.textArea:focus {
	box-shadow: 0px 1px 5px #0CF inset;
	-webkit-box-shadow: 0px 1px 5px #0CF inset;
	-moz-box-shadow: 4px 4px 5px #0CF inset;
	outline: 0 none;
}

.button {

	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background-color: #65a739;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid #4b8f29;
	color: #ffffff;
	font-size: 15;
	font-weight: bold;
	font-family: korinna bt;
	padding: 8px 16px;
	text-shadow: 0px 1px 0px #5b8a3c;
}
.button:hover {
	background-color: #d3ba8d;
}
.button:active {
	position: relative;
	top: 1px;
}

.animated {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes flip {
0% {
-webkit-transform: perspective(400px) rotateY(0);
-webkit-animation-timing-function: ease-out;
}
40% {
-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
-webkit-animation-timing-function: ease-out;
}
50% {
-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
-webkit-animation-timing-function: ease-in;
}
80% {
-webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
-webkit-animation-timing-function: ease-in;
}
100% {
-webkit-transform: perspective(400px) scale(1);
-webkit-animation-timing-function: ease-in;
}
}
@keyframes flip {
0% {
transform: perspective(400px) rotateY(0);
animation-timing-function: ease-out;
}
40% {
transform: perspective(400px) translateZ(150px) rotateY(170deg);
animation-timing-function: ease-out;
}
50% {
transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
animation-timing-function: ease-in;
}
80% {
transform: perspective(400px) rotateY(360deg) scale(.95);
animation-timing-function: ease-in;
}
100% {
transform: perspective(400px) scale(1);
animation-timing-function: ease-in;
}
}
.flip {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flip;
	backface-visibility: visible !important;
	animation-name: flip;
}

#tabla article table thead th {
	color: #222;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
}

#tabla article table td a {
	text-decoration: none;
	color: #9c0;
}

#tabla article table tr td {
	text-align: justify;
	background: #222;
	color: #CCC;
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 1.5;
}
section#posts {
	float: left;
	width: 74%;
}

section#posts aside {
	float: right;
	width: 35%;
	margin-left: 5%;
	font-size: 20px;
	line-height: 40px;
}

#indice {
	
  position: absolute;
}

#contenido {
  left: 21%;
  overflow: hidden;
  position: relative;
  top: -50;
  width: 73%;
}


